server:
  port: 19012
  compression:
    enabled: true
  http2:
    enabled: true
  servlet:
    application-display-name: om-dtask
    session:
      timeout: 1m
  tomcat:
    basedir: .
    accesslog:
      enabled: true
      prefix: access
      buffered: false
      directory: log
      rename-on-rotate: true
      file-date-format: .yyyyMMdd

spring:
  ## scheduling
  task:
    scheduling:
      pool:
        size: 30
  ## jackson
  jackson:
    parser:
      ALLOW_SINGLE_QUOTES: true
      ALLOW_UNQUOTED_FIELD_NAMES: true
    deserialization:
      FAIL_ON_UNKNOWN_PROPERTIES: false
    default-property-inclusion: NON_NULL
    generator:
      AUTO_CLOSE_TARGET: false
      IGNORE_UNKNOWN: true
  ## thymeleaf
  thymeleaf:
    cache: true
    mode: text
    encoding: UTF-8
    prefix: classpath:/templates/
    suffix: .sql

  profiles:
    active: dev

aws:
  athena:
    database: open_mediation
    data-dir: data/aws
    workgroup:

